<div class="navbar navbar-expand-lg me-5">
  <nav class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        [src]="'assets/images/logo3.png'"   height="70" width="210"
      />
    </a>

    <div class="d-flex nav-bg">
      <div class="collapse navbar-collapse">
        <form class="search">
          <div class="search__wrapper">
            <input
              type="text"
              name="search"
              placeholder="Search Event..."
              class="search__field"
              style="color: black"
              [(ngModel)]="searchEvent"
            />
            <button
              type="submit"
              class="fa fa-search search__icon"
              style="color: white"
            ></button>
          </div>
        </form>
        <!-- location dropdown -->
        <!-- <div class="ms-3">
          <div class="form-group d-flex">
            <i
              class="fa-solid fa-location-dot fa-2xl ps-2 pt-2"
              style="color: white"
            ></i>

            <select
              class="form-control select2 select2-hidden-accessible"
              style="width: 100%"
              tabindex="-1"
              aria-hidden="true"
            >
              <option selected="selected">Alabama</option>
              <option>Alaska</option>
              <option>California</option>
              <option>Delaware</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Washington</option>
            </select>
          </div>
        </div> -->

        <!-- <div class="ms-3">
          <h5>
            <i class="fa-regular fa-user fa-lg pe-2" style="color: #8fbcff"></i>
            Holaa!!
          </h5>
        </div> -->
      </div>
    </div>
  </nav>
</div>

<!-- card items -->

<div class="row">
  <h2 class="ms-4">Events</h2>

  <div class="col-2"></div>
  <!-- <div class="col-9 d-flex flex-wrap" >
    <div class="align-bottom" style="line-height: 10px;">
      <h4 >Categories: </h4>
    </div>
    <div *ngFor="let category of categories">
      <button class="button-64 m-2" role="button" (click)="getCategoryEvents(category.id!)">
        <span class="text">{{ category.c_name }}</span>
      </button>
    </div>
  </div> -->
  <div class="col"></div>
</div>

<div class="row">
  <div class="col-3" *ngFor="let event of events | filterPipe : searchEvent">
    <section>
      <div class="carousel__container mx-4">
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="{{ loadImage(event.id) }}"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="d-flex justify-content-between">
              <h5 class="carousel-item__details--title">
                {{ event.title | slice : 0 : 25 }}...
              </h5>
              <br />
            </div>
            <h6 class="carousel-item__details--subtitle">
              Price : Rs.{{ event.price }}
            </h6>
            <h6 class="carousel-item__details--subtitle">
              Date : {{ event.eventDate | slice : 0 : 10 }}
            </h6>
            <div>
              <button
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                (click)="sndEventId(event.id)"
              >
                Book
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Book-Tickets For Event:
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form #eventBooking="ngForm" (ngSubmit)="onSubmit(eventBooking)">
              <div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"
                      >Choose Number Of Tickets</label
                    >
                  </div>
                  <select
                    class="custom-select"
                    name="tickets"
                    id="inputGroupSelect01"
                    [(ngModel)]="selectedTickets"
                    (change)="getUserDetails()"
                  >
                    <option value="select">Choose Number of Tickets</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>

              <div *ngFor="let dummy of peoples; let x = index">
                <div class="my-2">
                  <h5>Person {{ x + 1 }} Detail</h5>
                  <input
                    type="text"
                    name="name{{ x }}"
                    id="name{{ x }}"
                    placeholder="Name"
                    class="form-control m-1"
                    [(ngModel)]="dummy.name"
                  />
                  <input
                    type="number"
                    name="age{{ x }}"
                    id="age{{ x }}"
                    placeholder="Age"
                    class="form-control m-1"
                    [(ngModel)]="dummy.age"
                  />
                  <input
                    type="text"
                    name="gender{{ x }}"
                    id="gender{{ x }}"
                    placeholder="Male / Female / Others"
                    class="form-control m-1"
                    [(ngModel)]="dummy.gender"
                  />
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary"
                data-bs-target="#exampleModalToggle2"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
                (click)="showLottie()"
              >
                Book-Ticket
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="Lottie">
  <div *ngIf="loaderService.isLoading | async" class="loader">
    <ng-lottie [options]="options"></ng-lottie>
  </div>
</div>
