<!-- chart for booked events -->

<section class="row">
  <!-- chart -->
  <div class="col-6 containersChart mt-5 ms-5">
    <div style="display: block">
      <canvas
        class="linechart"
        id="linechart"
        baseChart
        width="900"
        height="600"
      >
      </canvas>
    </div>
  </div>

  <!-- userDetails -->
  <div class="col-5 d-flex ms-5 mt-5">
    <div class="col m-3">
      <div class="containers text-center">
        <div class="d-flex">
          <div class="p-2">
            <i class="fa-regular fa-user fa-2xl" style="color: #020203"> </i>
          </div>
          <div class="p-1">
            <h2 class="">Active Users</h2>
          </div>
        </div>
        <div>
          <h2>6</h2>
        </div>
      </div>

      <div class="containers text-center">
        <div class="d-flex">
          <div class="p-2">
            <i
              class="fa-solid fa-clipboard-list fa-2xl"
              style="color: #000000"
            ></i>
          </div>
          <div class="p-1">
            <h2 class="">Total Events:</h2>
          </div>
        </div>
        <div>
          <h2>6</h2>
        </div>
      </div>
    </div>
    <div class="col m-3">
      <section class="justify-content-center">
        <div class="containers text-center">
          <div class="d-flex">
            <div class="p-2">
              <i
                class="fa-solid fa-clipboard-check fa-2xl"
                style="color: #000000"
              ></i>
            </div>
            <div class="p-1">
              <h3 class="">Booked Events</h3>
            </div>
          </div>
          <div>
            <h2>6</h2>
          </div>
        </div>

        <div class="containers text-center">
          <div class="d-flex">
            <div class="p-2">
              <i
                class="fa-solid fa-sack-dollar fa-2xl"
                style="color: #000000"
              ></i>
            </div>
            <div class="p-1">
              <h2 class="">Earnings:</h2>
            </div>
          </div>
          <div>
            <h2>6</h2>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
